.footer {
  position: relative;
  padding: 32px 0;
  background-image: url(../Images/footer-bg-image.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
  }

  &::before {
    left: 0;
    width: 180px;
    height: 120px;
    background-image: url(../Images/decor-bread-small.png);
  }
  &::after {
    right: 0;
    width: 380px;
    height: 190px;
    background-image: url(../Images/decor-bread-large.png);
  }

  &__container {
    display: flex;
    gap: 20px;
    padding-top: 32px;
  }

  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__link {
    margin-bottom: 16px;
  }
  &__list,
  &__address-info {
    flex-grow: 1;
  }

  &__address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--color-brand-normal);
    }
  }

  &__socials {
    fill: var(--color-primary-light);

    &:hover {
      fill: var(--color-brand-normal);
    }
  }

  &__socials-icon {
    fill: var(--color-primary-light);
    margin-right: 22px;

    &:hover {
      animation: icon-bump 2s;
    }
  }

  &__adress-copyright {
    font-size: 14px;
  }
}
